@model IEnumerable<BookStoreLite.DataAccess.Entities.Book>

<a asp-action="Create" class="btn btn-success">Add book</a>

@{
    ViewData["Title"] = "Book list";
}

<h2>Book list</h2>

<p>@(ViewBag.EnableRareBooks ? "All books list (feature enabled)" : "Books without rares (feature disabled)")</p>
<p>MaxBooksDisplayed: @(ViewBag.MaxBooksDisplayed)</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Title)</th>
            <th>@Html.DisplayNameFor(model => model.First().Author)</th>
            <th>@Html.DisplayNameFor(model => model.First().Price)</th>
            <th>@Html.DisplayNameFor(model => model.First().IsRare)</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var book in Model)
    {
        <tr>
            <td>@book.Title</td>
            <td>@book.Author</td>
            <td>@book.Price.ToString("C", new System.Globalization.CultureInfo("pl-PL"))</td>
            <td>@(book.IsRare ? "Tak" : "Nie")</td>
        </tr>
    }
    </tbody>
</table>
